.asidebar{
    padding: 20px 2%;
    height: 100vh;
    width: 12%;
    position: fixed;
    border-right: 1px solid lightgray;
}

.asidebar div{
    margin-top: 50px;
}

h1{
    color: rebeccapurple;
}

.asidebar div h4{
    position: absolute;
    bottom: 40px;
}